
.header{
    display: flex;
    justify-content: center;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}
.header-photo img{
    width: 50%;
}

.header-photo{
    width: 100%;
    text-align: center;
}
.header-name{
    width: 100%;
    text-align: center;
}
.nik{
    font-size: 25px;
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.qa{
    font-size: 20px;
    color: grey;
    font-family: monospace;
}
.header-icon{
    width: 100%;
    text-align: center;
}
.header-icon a{
    font-size: 1.4rem;
    color: #0f0e0d;
    margin: 4px;
}
.header-icon a:hover{
    opacity: 0.6;
    color: darkblue;
}
/* info */

.info{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.info-block{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    text-align: center;
    border-top: 1px inset gray;
}
.location{
    width: 100%;
}
.phone{
    width: 100%;
}
.phone a{
    text-decoration: none;
    color: grey;
}
.email{
    width: 100%;
}
.email a{
    text-decoration: none;
    color: grey;
}
.year{
    width: 100%;
}
.info h3{
    color: black;
    font-family: monospace;
}
.info h4{
    color: grey;
    font-family: monospace;
}


/* skill */

.skill{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.skill-block{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    /* text-align: center; */
    /* border-top: 1px inset gray; */
}
.skill-text{
    width: 20%;
}
.skill-text h3{
    color: black;
    font-family: monospace;
}
.skill-skill{
    width: 80%;
}
.skill-skill h3{
    color: grey;
    font-family: monospace;
}

@media (max-width: 700px){
    .skill{
        margin-top: 0px;
    }
    .info-block{
        display: block;
    }
    .header-photo img{
        width: 65%;
    }
    .skill-skill h3{
        margin-left: 5px;
    }


    .skill-text{
        width: 30%;
    }
    .skill-skill{
        width: 70%;
    }
}
/* footer */

footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer-name{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    border-top:  1px inset ;
    border-top-color: gray;
}
.footer-name p{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}